---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    写于 {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="authorization">
     版权所有，装载文章请标识本文出处 {{ site.baseurl }}{{ post.url }}
  </div>

  {% include disqus.html %}
</article>


<div id="gitmentContainer"></div>

<script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>

<script>
var gitment = new Gitment({
    owner: 'ganlanshu0211',
    repo: 'ganlanshu0211.github.io',
    oauth: {
        client_id: '38d7e60a1f455c62b6f4',
        client_secret: 'b7224449dedac4a6be267533ffba2e6419502119',
    },
});
gitment.render('gitmentContainer');
</script>