---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>


<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://ganlanshu0211.github.io/gitment/style/default.css">
<script src="https://ganlanshu0211.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'ganlanshu0211',
    repo: 'ganlanshu0211.github.io',
    oauth: {
        client_id: '38d7e60a1f455c62b6f4',
        client_secret: 'b7224449dedac4a6be267533ffba2e6419502119',
    },
});
gitment.render('gitmentContainer');
</script>